<!DOCTYPE html>
{% load static %}

<html>
<head>
	<!-- If you are reading this you are probably a little nerdy, and I
	respect that, so here is some info: 
	I built this project in Python using Django.  These templates are
	Created with the Jinja2 templating engine.  Visit my site at
			<<<<<<<< sska.ml >>>>>>>>>>>
	to contact me with any inquiries. 	With love, Paul H.				-->
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_desc }}">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta property="og:title" content="{{ page_title }}" />
	<meta property="og:type" content="{{ page_type }}" />
	<meta property="og:image" content="{{ page_image }}" />
	<meta name="og:description" content="{{ page_desc }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- js (and associated css) -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	{% block js %}{% endblock %}
</head>
<body>

<script>
$(document).ready(function() {
    $('a').hover(function() {
        var hue = 'rgb('
            + (Math.floor(Math.random() * 256)) + ','
            + (Math.floor(Math.random() * 256)) + ','
            + (Math.floor(Math.random() * 256)) + ')';
       $(this).stop().animate( { color: hue }, 300);
    },function() {
       $(this).stop().animate( { color: '#000' }, 300);
    });
});
</script>

{% block js_call%}
{% endblock %}


<div id="wrapper">

	<div id="social">
		<ul>
			<li><a href="#"><img src="{% static 'img/facebook.png' %}" /></a></li>
			<li><a href="#"><img src="{% static 'img/ig.png' %}" /></a></li>
			<li><a href="#"><img src="{% static 'img/vimeo.png' %}" /></a></li>
			<li><a href="#"><img src="{% static 'img/mail.png' %}" /></a></li>		
		</ul>
	</div>


	<div id="logo">
		<a href="/">
			<img src="{% static 'img/logo.svg' %}"/>
	</a>
	</div>

	<div id="nav">
		<ul id="nav_links">
			<li><a href="/store/">Store</a></li>
			<li><a href="/news/">News</a></li>
			<li><a href="/collections/">Collections</a></li>
			<li><a href="/stockists/">Stockists</a></li>
			<li><a href="/deadstock/">Deadstock</a></li>
			<li><a href="/contact/">Contact</a></li>		
		</ul>
	</div>

	
	<div class="content">
		{% block content %}
		
		{% endblock %}
	</div><!-- end .content -->

	
</div><!--end #wrapper-->

</body>

</html>