{% extends 'base.html' %}
{% load static %}
{% block js %}
	<script src="{% static 'js/jquery.nerveSlider.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/nerveSlider.min.css' %}">
{% endblock %}

{% block js_call%}
<script>
	$(document).ready(function(){
		$("#slideshow").nerveSlider({
			slideTransitionSpeed: 1000,
			slideTransitionEasing: "swing",
			slidesDraggable: true,
			sliderResizable: true,
			sliderKeepAspectRatio: false,
			slideTransitionDelay: 12000,
			showTimer: false,
			showPause: false,
			showDots: false,
			showArrows: false,	
			sliderWidth: "103%",
			sliderHeight: "385px",
			});
	});
</script>
{% endblock %}

		{% block content %}
		<div class="section">
			<div id="slideshow">
				{% for slide in slides %}
				<img src="{{ MEDIA_URL }}{{ slide.images }}" alt="{{ slide.test }}" />
				{% endfor %}
				<img src="http://sska.ml/promo_page/img/slider_4.jpg">
				<img src="http://sska.ml/promo_page/img/slider_3.jpg">
				<img src="http://sska.ml/promo_page/img/slide3.jpg">
			</div>
		</div>
		{% endblock %}
